/* モバイル向けレイアウト 1210以下は下記を適用*/

@media screen and  (max-width: 1210px) {

  .container{
    margin: 0 auto;
    width: 100%;
  }
 
  
}



@media screen and  (max-width: 1180px) {
  

  .room-first,
  .room-second,
  .room-third{
    display: block;
    position: relative;
  }

  .room-first .room-contents,
  .room-third .room-contents{
    position: absolute;
    top: 257px;
    right: 0px;
    z-index: -999;
    padding-right: 50px;
  }

  .room-pic.second{
    width: 525px;
    margin: 0 0 0 auto;
  }

  .room-second .room-contents{
    position: absolute;
    top: 257px;
    left: 0px;
    z-index: -999;
    padding-left: 50px;
  }
  .room-first,.room-second,.room-third{
    margin-bottom: 360px;
  }

}

/* モバイル向けレイアウト 768以下は下記を適用*/

@media screen and  (max-width: 768px) {
  .main-contents{
    display: none;
  }

  .main-contents2{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .room-contents2{
    background-image: url(../image/bg.png);
    width: 100%;
    height: 381px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }

.room-contents2 h3{
  padding-top: 55px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
}
.room-contents2 h4{
  margin-top: 46px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 2;
}
.room-contents2 p{
  margin-top: 47px;
  margin-bottom: 108px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 2;
}
  

 
}



