@charset "UTF-8";

.spa-title h3{
font-size: 26px;
text-align: center;
margin-top: 90.5px;
}

th,td {

  border-bottom: solid 1px #E7E7E7;  /* 枠線指定 */
  padding: 15.5px;      /* 余白指定 */
}
th{
  /* background-color: chocolate; */
  text-align: left;
  width: 220px;
}
td{
  width: 600px;
  overflow-wrap: break-word;
  line-height: 1.5;
}

tr:first-child{
  border-top: solid 1px #E7E7E7;  /* 枠線指定 */
}

table{
  /* width: 880px; */
  margin-top: 47.5px;
  margin-bottom: 74px;
  font-size: 15px;
  margin-left: 150px;
  margin-right: 150px;
}

.bottom-line{
  border-top: solid 1px #E7E7E7;
  margin-bottom: 96.5px;
}
.top-line{
  width:"100%";
  border-top: solid 1px #E7E7E7;
  margin-bottom: 90.5px;
}
.bottom-line{
  width:"100%";
  border-top: solid 1px #E7E7E7;
  margin-bottom: 96.5px;
}